/* Comment */

/* doxray
    label: Comment one
    colorPalette: scss
*/

$white: #fff;
$black: #000;

/* doxray
    - label: Comment two
      colorPalette: scss
*/

$red: red;
$green: rgba(0, 255, 0, 1);
