/* Comment */

/* doxray
    label: Comment one
*/

/* doxray
    label: Comment two
*/

/* doxray
    label: Special~`!@#$%^&*()+=[]{}\|,./<>?characters
*/

/* doxray
    header: true
    label: First header
*/

/* doxray
    header: true
    label: Second header
*/
