/* ==========================================================================
   Comment
   ========================================================================== */

/* comment-docs
    prop1: Comment one
    prop2: Comment / one
    prop3: Comment * one
*/

/* comment-docs
    prop1: Comment two
*/

.first {
  content: "Comment two";
}

/* comment-docs
    prop1: Comment three
*/

.second {
  content: "Coment three";
}
