/* ==========================================================================
   Comment
   ========================================================================== */

/* topdoc
    prop1: Empty
    prop2: Empty / name
    prop3: Empty * person
*/

/* topdoc
    prop1: First
*/

.first {
  content: "First";
}

/* topdoc
    prop1: Second
*/

.second {
  content: "Second";
}

/* topdoc
    prop1: Empty of another kind
    prop2: Empty / name
    prop3: Empty * person
*/

/* topdoc
    prop1: First of another kind
*/

.first {
  content: "First";
}

/* topdoc
    prop1: Second of another kind
*/

.second {
  content: "Second";
}
